body {
    background-color: #eee;
}

.border-start {
    border-color: #000 !important;
}

.detail-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.table th {
    color: #aaa;
}

.reason-cell {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}